.raf-activity {
  background-color: #333;
  color: white;
  border-radius: 4px;
  margin: 8px 0;
  width: calc(100% + 32px);

  &__hashtag {
    color: var(--theme-color);
    cursor: pointer;
  }

  &__mention {
    color: var(--theme-color);
    cursor: pointer;
  }

  &__link {
    color: var(--theme-color);
    word-wrap: break-word;

    &:hover {
      text-decoration: underline;
    }
  }

  &__attachments {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid change-color($black, $alpha: 0.1); // color-mod(var(black) a(10%));
    border-radius: 4px;
    overflow: hidden;
    margin: 8px 0;

    a {
      display: block;
      color: $fontColor;
      border-bottom: 1px solid change-color($black, $alpha: 0.1); // color-mod(var(black) a(10%));
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:last-child {
        border-color: transparent;
      }
    }
  }

  &__file {
    // padding: 8px 16px;
    text-decoration: none;

    &:hover {
      background: #fafafa;
    }

    svg {
      min-width: 25px;
    }
  }

  &__content {
    p {
      white-space: pre-line;
    }
  }
}

.expand-og-text {
  color: var(--theme-color);
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 18px;
  border-radius: 50%;
  display: inline;

  &:hover {
    background-color: #555;
  }
}
